.customb {
	background-image: url("img/header-bg.jpg");
	padding: 50px 0;
	box-sizing: border-box;
	background-repeat: repeat;
}

.imgs {
	height: 200px;
}


.spacing {
	margin: 40px 0px;
}

.centerT {
	text-align: center;
	margin-bottom: 30px;
}

.flexCenter {
	display: flex;
	justify-content: center;
	margin: 30px 0px;
}

.image {
	width: 55px;
	height: 55px;
	margin-right: 2%;
}

.image:hover{
	cursor:pointer;
}

.width {
	max-width: 600px;
}

.bottom {
	margin-bottom: 40px;
}

.flexContain {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 100px;
}

@media only screen and (max-width: 1040px) {
	.flexContain {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.media_spacing {
		margin-bottom: 20px;
	}
	.flexContain {
		margin-bottom: 30px;
	}
}