.createDiv {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	margin-top: 50px;
}

.nameField {
	width: 300px;
}

.formDiv {
	display: flex;
	flex-direction: column;
	max-width: 900px;
}

.flexDiv {
	display: flex;
	justify-content: space-evenly;
}

.formCreate {
	max-width: 900px;
}

.centerText {
	text-align: center;
}

.test {
	background-color: red;
}

.paperVenues {
	color:blue;
}